/* Content */
.content {
    position:relative;
    top:0;
    left:0;
}


/* Content - figure */
.figure {
    clear:both;
    position:relative;
    top:0;
    left:0;
    z-index:-9999;
    margin-top:-30px;
}

.st1, .st2, .st4, .st5, .st6, .st7 {
    opacity:0;
}

@keyframes svgAni {
    from {
      stroke-dashoffset:500;
      opacity:0;
    }
    to {
      stroke-dashoffset:0;
      opacity:0.4;
    }
}

@keyframes svgAni2 {
    from {
      stroke-dashoffset:500;
      opacity:0;
    }
    to {
      stroke-dashoffset:0;
      opacity:1;
    }
}


/* Content - profile */
.profile {
    clear:both;
    margin-top:65px;
    text-align:center;
    position:absolute;
    top:0;
    left:25%;
    z-index:9999;
}

.profile-img {
    width:70%;
}

.profile .introduce {
    position:absolute;
    top:39%;
    left:-8.5%;
}

.profile .introduce li {
    font-family:'Lato', sans-serif;
    font-size:16px;
    font-weight:400;
    text-align:right;
    line-height:28px;
} 

.profile .introduce li:first-child {
    font-family:'Prompt', sans-serif;
    font-size:30px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:2px;
    margin-bottom:20px;
}


/* Resume Button */
.button-wrapper {
    display:inline-block;
    position:absolute;
    top:40%;
    right:14%;
    z-index:500;
    padding:20px;
    opacity:0.7;
}

.button { 
    background:#ffae63;
    border:none;
    padding:2px;
    cursor:pointer;
    display:block;
    position:relative;
    overflow:hidden;
    transition:all .35s ease-in-out .35s;
    width:170px;
    text-align:center;
}

.button a {
    display:block;
    padding:15px 30px;
    color:#fff;
    background:#ffae63;
    z-index:100;
    position:relative;
    left:1.8%;
    font-size:14px;
    text-decoration:none;
    letter-spacing:4px;
    transition:all .35s ease-in-out .35s;
}

.button:hover a {
    background:#fff;
    color:#ffae63;
    transition:all .35s ease-in-out .35s;
}

.button:after {
    bottom:-100%;
    right:-100%;
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    background:#fff;
    transition:all .35s ease-in-out .5s;
}

.button:hover:after {
    right:0;
    bottom:0;
    transition:all ease-in-out .35s;
}

.button:before {
    top:-100%;
    left:-100%;
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    background:#ffae63;
    transition:all .35s ease-in-out .5s;
}

.button:hover:before {
    left:0;
    top:0;
    transition:all ease-in-out .35s;
}


/* Footer */
footer {
    margin-top:-46px;
    margin-right:60px;
    text-align:right;
    color:rgba(77, 77, 77, 0.9);
    font-family:'Lato', sans-serif;
    font-size:12px;
    font-weight:900;
    letter-spacing:0.5px;
}