/* body */
body {
    /* burgerMenu 때문에 벗어난 영역을 숨김 */
    overflow-x:hidden;
    background:url('../images/index.jpg') no-repeat left top fixed;
    background-size:cover;
}


/* index title - 제목 영역 */
#subject {
    position:relative;
    padding-bottom:207px;
}

/* index title - 제목 */
#subject p {
    color:#ffe0e0;
    opacity:0.7;
    font-size:80px;
    font-family:'Pacifico', cursive;
    letter-spacing:5px;
    line-height:115px;
    margin-left:75px;
}
#subject p:first-child {
    margin-top:163px;
}

/* index title - info 이동 */
#subject a {
    float:right;
    display:block;
    position:absolute;
    top:145px;
    right:90px;
    color:#ffeded;
    text-decoration:none;
    font-size:25px;
    letter-spacing:5px;
    font-family:'Palanquin Dark', sans-serif;
}
/* index title - 마우스 오버 효과 */
#subject a:hover {
    color:#ffb5b5;
    transition:all 0.5s ease;
}

/* index title - mediaquery */
@media screen and (min-width:769px) and (max-width:1024px) {
    /* index title - info 이동 */
    #subject a {
        top:300px;
        left:90px;
    }
}
@media screen and (min-width:361px) and (max-width:768px) {
    /* index title - 제목 */
    #subject p {
        margin-left:50px;
    }
    
    /* index title - info 이동 */
    #subject a {
        top:300px;
        left:50px;
    }
}
@media screen and (max-width:360px) {
    /* index title - 제목 */
    #subject p {
        font-size:30px;
        line-height:65px;
        margin-left:25px;
    }
    
    /* index title - info 이동 */
    #subject a {
        top:375px;
        left:25px;
        font-size:20px;
    }
}


/* footer */
footer {
    width:100%;
    height:80px;
}
#footer {
    padding-top:15px;
    padding-left:70px;
}
#footer li {
    display:inline;
    padding:0 18px;
    list-style-type:none;
}

/* footer - sns icon */
#footer li .fab {
    color:#ffe4e2;
    font-size:25px;
    opacity:0.8;
}
/* footer - sns icon - 마우스 오버 효과 */
#footer li:first-child .fab:hover {
    color:#3b5998;
    transition:all 1s ease;
    transform:scale(1.15);
}
#footer li:nth-child(2) .fab:hover {
    color:#cd486b;
    transition:all 1s ease;
    transform:scale(1.15);
}
#footer li:nth-child(3) .fab:hover {
    color:#c8232c;
    transition:all 1s ease;
    transform:scale(1.15);
}
#footer li:nth-child(4) .fab:hover {
    color:#86c9ef;
    transition:all 1s ease;
    transform:scale(1.15);
}
#footer li .fab:visited {
    color:#e8c0be;
}

/* footer - copyright */
#footer li:last-child {
    display:inline-block;
    float:right;
    color:#ffe4e2;
    font-family:'Quicksand', sans-serif;
    font-size:15px;
    opacity:0.8;
    line-height:25px;
    margin-right:50px;
}

/* footer - mediaquery*/
@media screen and (min-width:769px) and (max-width:1024px) {
    footer {
        display:none;
    }
}
@media screen and (min-width:361px) and (max-width:768px) {
    footer {
        display:none;
    }
}
@media screen and (max-width:360px) {
    footer {
        display:none;
    }
}