/* Start */
* {
    margin:0;
    padding:0;
}

body {
    margin:0;
    padding:0;
	font-family:'Prompt', sans-serif;
	font-weight:700;
    color:#4D4D4D;
    background-color:#F6F6F6;
}

a {
    text-decoration:none;
}


/* Logo */
.logo-text {
    display:none;
}


/* Header */
.header {
    position:static;
    padding:28px 52px;
    z-index:9999;
}      


/* Menu */
.menu {
	position:absolute; 
	z-index:999;
	top:8px;
	right:65px;
	height:75px;
}

.menu .menu-list { 
	float:left;
	position:relative;
	top:50%;
    transform:translateY(-50%);
}

.menu .menu-list ul li {
	display:inline-block;
	margin-right:40px;
    cursor:pointer;
}

.menu .menu-list ul li:last-child {
    margin-right:45px;
}

.menu .menu-list .active a:after {
    border-bottom:0.25em solid rgba(242, 106, 11, 0.4);
    content:"";
    margin-top:calc(0.25em / 2 * -1);
    position:absolute;
    top:50%;
    right:0;
    left:-10%;
    width:120%;
}

.menu .menu-list ul li a {
    position:relative;
    text-decoration:none;
	color:#4D4D4D;
    font-size:16px;
    letter-spacing:2px;
}

.menu .menu-list ul li a:hover:after {
    border-bottom:0.25em solid rgba(242, 106, 11, 0.4);
    content:"";
    margin-top:calc(0.25em / 2 * -1);
    position:absolute;
    top:50%;
    right:0;
    left:-10%;
    width:120%;
}

.menu .burger-menu { 
	float:right;
	position:relative;
	top:50%;
	transform:translateY(-50%);
	width:25px;
	height:25px;
	cursor:pointer;
}

.menu .burger-menu .menu-icon {
	cursor:pointer;
	margin:0 auto;
	padding-left:1.25em;
	position:relative;
	width:12px;
	height:10px;
  }

.menu-global {
	backface-visibility:hidden;
	position:absolute;
	left:0;
	border-top:4px solid #4D4D4D;
	width:100%;
	transition:0.55s;
}

.menu-top {
	top:0;
}

.menu-middle {
	top:9px;
}

.menu-bottom {
	top:18px;
}

.menu-top-click {
	backface-visibility:hidden;
	top:10px;
	transform:rotate(50deg);
	transition:0.55s 0.5s;
}

.menu-middle-click {
	opacity:0;
}
  
.menu-bottom-click {
	backface-visibility:hidden;
	top:10px;
	transform:rotate(-410deg);
	transition:0.55s 0.5s;
}