/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start */
* {
    margin:0;
    padding:0;          
}

/* body */
body {
    width:100%;
    height:100%;
    max-height:100%;
}

/* header */
nav {
    width:100%;
    height:80px;
}

/* nav - logo */
nav #nav .title {
    color:#ffeded;
    font-size:30px;
    font-weight:bold;
    font-family:'Pacifico', cursive;
    line-height:110px;
    letter-spacing:8px;
    text-decoration:none;
    padding-top:20px;
    padding-left:80px;
}
/* nav - logo - 마우스 오버 효과 */
nav #nav .title:hover {
    color:#ffd0ce;
    border-bottom:0;
    transition:all 0.5s ease;
}

/* nav - menu */
nav #nav ul {
    margin:0;
    padding:0;
    float:right;
}
nav #nav ul li {
    list-style-type:none;
    display:inline;
    font-family:'Palanquin Dark', sans-serif;
    font-size:18px;
    line-height:110px;
    padding:0 20px;
}
nav #nav ul li a {
    text-decoration:none;
    color:#ffeded;
    padding:0 20px 40px;
}
nav #nav ul li a.tasty {
    margin-right:50px;
}
/* nav - menu - 마우스 오버 효과 */
nav #nav ul li a:hover {
    color:#ffd0ce;
    padding-bottom:15px;
    border-bottom:solid 5px #ffd0ce;
    transition:all 0.3s ease;
}

/* nav - burger menu */
nav #burgerMenu {
    /* 기본 - 보이지 않게 함 */
    display:none;
}

/* nav - mediaquery */
@media screen and (min-width:769px) and (max-width:1024px) {
    /* nav - menu */
    nav ul {
        display:none;
    }
    
    /* nav - burger Menu */
    nav #burgerMenu {
        display:block;
        position:absolute;
        top:0;
        right:0;
        height:100vh;
    }
    nav #burgerMenu ul {
        display:block;
    }
}
@media screen and (min-width:361px) and (max-width:768px) {
    /* nav - menu */
    nav ul {
        display:none;
    }
    
    /* nav - logo */
    nav #nav .title {
        padding-left:60px;
    }
    
    /* nav - burger Menu */
    nav #burgerMenu {
        display:block;
        position:absolute;
        top:0;
        right:0;
        height:100vh;
    }
    nav #burgerMenu ul {
        display:block;
    }
}
@media screen and (max-width:360px) {
    /* nav - menu */
    nav ul {
        display:none;
    }
    
    /* nav - logo */
    nav #nav .title {
        font-size:20px;
        padding-left:25px;
    }
    
    /* nav - burger Menu */
    nav #burgerMenu {
        display:block;
        position:absolute;
        top:0;
        right:-5%;
        height:100vh;
    }
    nav #burgerMenu ul {
        display:block;
    }
}

/* nav - dropdown menu */
nav #nav ul li ul li {
    display:none;
    height:50px;
    line-height:50px;
    text-align:center;
    background-color:#ffbcba;
    transition:all 0.8s ease, color 0.3s 0.3s;  
    cursor:pointer;  
}
/* nav - dropdown menu - 마우스 오버 효과 */
nav #nav ul li ul li:hover {
    background-color:#ff7875;
    box-shadow:0 50px 0 0 rgba(0,0,0,0.15) inset, 
			   0 -50px 0 0 rgba(0,0,0,0.15) inset;
}
nav #nav ul li ul.dropmenu1 {
    position:absolute;
    right:497px;
}
nav #nav ul li ul.dropmenu2 {
    position:absolute;
    right:362px;
}
nav #nav ul li ul.dropmenu3 {
    position:absolute;
    right:66px;
}
nav #nav ul li:hover li {
    display:block;
}
nav #nav ul li ul li a {
    color:white;
    font-size:15px;
    margin:0;
    padding:0;
}
/* nav - dropdown menu - 메뉴 제목 마우스 오버 효과 */
nav #nav ul li ul li a:hover {
    color:white;
    border-bottom:0;
    padding:0;
}