/* body */
body {
    /* burgerMenu 때문에 벗어난 영역을 숨김 */
    overflow-x:hidden;
    font-family:'Nanum Gothic', sans-serif;
}


/* header */
nav {
    /* 네비게이션이 맨 위로 올 수 있도록 함 */
    position:absolute;
    z-index:9999;
}


/* content */
#content {
    position:relative;
    min-height:758px;
}

/* tasty title - background-image 삽입 */
#content .tasty {
    width:50%;
    height:100%;
    position:absolute;
    z-index:-9999;
    background:url('../images/tasty.jpg') no-repeat;
    background-size:cover;
    background-position:left top;
}

/* tasty title - 제목 */
#content .tasty .subject1 {
    color:#ffe0e0;
    opacity:0.7;
    font-size:80px;
    font-family:'Palanquin Dark', sans-serif;
    letter-spacing:5px;
    margin-top:270px;
    margin-left:80px;
}

/*tasty title - 제목 밑에 직선 */
#content .tasty .subject1:after {
    content:'';
    display:block;
    width:110px;
    border-bottom:8px solid #ffe0e0;
    padding-top:30px;
}

/* tasty title - 설명 */
#content .tasty .message {
    font-size:13px;
    color:#ffeded;
    line-height:22px;
    margin-top:30px;
    margin-left:80px;
}

/* food title - background-image 삽입 */
#content .food {
    width:50%;
    height:50%;
    position:absolute;
    right:0px;
    z-index:2;
    background-color:black;
    background:url('../images/food.jpg') no-repeat;
    background-size:cover;
    background-position:left top;
}

/* food title - 제목 */
#content .food .subject2 {
    display:block;
    color:#ffe0e0;
    opacity:0.7;
    font-size:50px;
    font-family:'Palanquin Dark', sans-serif;
    text-decoration:none;
    letter-spacing:5px;
    margin-top:240px;
    margin-left:75px;
}

/* food title - 제목 밑에 직선 */
#content .food .subject2:after {
    content:'';
    display:block;
    width:115px;
    border-bottom:8px solid #ffe0e0;
    padding-top:20px;
}
/* food title - 마우스 오버 효과 */
#content .food .subject2:hover {
    color:#ff8784;
    transition:all 0.8s ease;
}

/* dessert title - background-image 삽입 */
#content .dessert {
    width:50%;
    height:50%;
    position:absolute;
    top:379px;
    right:0px;
    z-index:3;
    background:url('../images/dessert.jpg') no-repeat;
    background-size:cover;
    background-position:left top;
}

/* dessert title - 제목 */
#content .dessert .subject3 {
    display:block;
    color:#ffe0e0;
    opacity:0.7;
    font-size:50px;
    font-family:'Palanquin Dark', sans-serif;
    text-decoration:none;
    letter-spacing:5px;
    margin-top:45px;
    margin-left:75px;
}

/* dessert title - 제목 밑에 직선 */
#content .dessert .subject3:after {
    content:'';
    display:block;
    width:115px;
    border-bottom:8px solid #ffe0e0;
    padding-top:20px;
}
/* dessert title - 마우스 오버 효과 */
#content .dessert .subject3:hover {
    color:#ff8784;
    transition:all 0.8s ease;
}

/* tasty title - mediaquery */
@media screen and (min-width:769px) and (max-width:1024px) {
    /* tasty title - 설명 */
    #content .tasty .message {
        font-size:11px;
        color:#ffeded;
        line-height:22px;
        margin-top:30px;
        margin-left:80px;
    }
}
@media screen and (min-width:761px) and (max-width:768px) {
    /* tasty title - 설명 */
    #content .tasty .message {
        width:200px;
        font-size:11px;
        color:#ffeded;
        line-height:22px;
        margin-top:30px;
        margin-left:80px;
    }
    
    /* food title - 제목 */
    #content .food .subject2 {
        margin-top:200px;
    }
}
@media screen and (min-width:361px) and (max-width:760px) {
    /* tasty title - 제목 */
    #content .tasty .subject1 {
        font-size:25px;
        margin-top:370px;
        margin-left:55px;
    }
    
    /*tasty title - 제목 밑에 직선 */
    #content .tasty .subject1:after {
        content:'';
        display:none;
    }
    
    /* tasty title - 설명 */
    #content .tasty .message {
        display:none;
    }
    
    /* food title - 제목 */
    #content .food .subject2 {
        font-size:25px;
        margin-top:180px;
        margin-left:25px;
    }
    
    /* food title - 제목 밑에 직선 */
    #content .food .subject2:after {
        content:'';
        display:none;
    }
    
    /* dessert title - 제목 */
    #content .dessert .subject3 {
        font-size:25px;
        margin-top:180px;
        margin-left:22px;
    }
    
    /* dessert title - 제목 밑에 직선 */
    #content .dessert .subject3:after {
        content:'';
        display:none;
    }
}
@media screen and (max-width:360px) {
    /* tasty title - 제목 */
    #content .tasty .subject1 {
        font-size:20px;
        margin-top:370px;
        margin-left:25px;
    }
    
    /*tasty title - 제목 밑에 직선 */
    #content .tasty .subject1:after {
        content:'';
        display:none;
    }
    
    /* tasty title - 설명 */
    #content .tasty .message {
        display:none;
    }
    
    /* food title - 제목 */
    #content .food .subject2 {
        font-size:20px;
        margin-top:180px;
        margin-left:20px;
    }
    
    /* food title - 제목 밑에 직선 */
    #content .food .subject2:after {
        content:'';
        display:none;
    }
    
    /* dessert title - 제목 */
    #content .dessert .subject3 {
        font-size:15px;
        margin-top:180px;
        margin-left:20px;
    }
    
    /* dessert title - 제목 밑에 직선 */
    #content .dessert .subject3:after {
        content:'';
        display:none;
    }
}


/* footer */
footer {
    position:absolute;
    z-index:9999;
    top:695px;
    left:70px;
}
#footer li {
    display:inline;
    padding:0 18px;
    list-style-type:none;
}

/* footer - sns icon */
#footer li .fab {
    color:#ffe4e2;
    font-size:25px;
    opacity:0.8;
}
/* footer - sns icon - 마우스 오버 효과 */
#footer li:first-child .fab:hover {
    color:#3b5998;
    transition:all 1s ease;
    transform:scale(1.15);
}
#footer li:nth-child(2) .fab:hover {
    color:#cd486b;
    transition:all 1s ease;
    transform:scale(1.15);
}
#footer li:nth-child(3) .fab:hover {
    color:#c8232c;
    transition:all 1s ease;
    transform:scale(1.15);
}
#footer li:nth-child(4) .fab:hover {
    color:#86c9ef;
    transition:all 1s ease;
    transform:scale(1.15);
}
#footer li .fab:visited {
    color:#e8c0be;
}

/* footer - copyright */
#footer li:last-child {
    display:inline-block;
    position:absolute;
    top:0;
    left:320px;
    width:300px;
    color:#ffe4e2;
    font-family:'Quicksand', sans-serif;
    font-size:15px;
    opacity:0.8;
    line-height:25px;
}

/* footer - mediaquery */
@media screen and (max-width:1024px) {
    #footer {
        display:none;
    }
}